body {
  background-image: url("https://media.gettyimages.com/vectors/cinema-background-vector-id494834014?s=2048x2048");
}

p {
  color: goldenrod;
}

.App {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.head {
  color: red;
  text-shadow: 2px 2px black;
  font-weight: bold;
}

.each-movie {
  padding-left: 50px;
  padding-right: 50px;
}

.movie-title {
  color: red;
  text-shadow: 2px 2px black;
}

.pics {
  max-width: 400px;
}



